<!DOCTYPE html>
<html lang="en">
  <body>
    <form action="" method="post" class="form-example">
      <div class="form-example">
        <label for="balance">Có mấy đồng?</label><br>
        <input type="text" name="balance" id="balance" required>
      </div>
    </form>
  </body>
</html>