<!DOCTYPE html>
<html>
  <body>
    Không đủ tiền. Có ${{balance}}.
    <form action="" method="post" class="form-example">
      <div class="form-example">
        <label for="bet">Muốn chơi mấy đồng?</label><br>
        <input type="text" name="bet" id="bet" required>
      </div>
    </form>
  </body>
</html>